<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a routerLink="/user-pages/settings" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/images/faces/useravatar.jpg" alt="profile">
        </div>
        <div class="nav-profile-text">
          <span class="font-weight-bold mb-2">{{userFullName}}</span>
        </div>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': main.isActive }">
      <a class="nav-link" routerLink="general-pages/main" routerLinkActive #main="routerLinkActive">
        <span class="menu-title">Talk with Ducky</span>
        <i class="mdi mdi-comment-multiple-outline menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': newsFeed.isActive }">
      <a class="nav-link" routerLink="general-pages/news-feed" routerLinkActive #newsFeed="routerLinkActive">
        <span class="menu-title">Latest News</span>
        <i class="mdi mdi-newspaper menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': career.isActive }">
      <a class="nav-link" routerLink="career/main" routerLinkActive #career="routerLinkActive">
        <span class="menu-title">Career Level</span>
        <i class="mdi mdi-briefcase-check menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
